
    html{font-family:sans-serif;line-height:1.15;}
        article,aside,figcaption,figure,footer,header,hgroup,main,nav,section
        {
            display:block
        }
        body{
            margin:0;
            font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size:.875rem;font-weight:400;line-height:1.4285714286;
            color:#212529;text-align:left;background-color:#f9f9fa}
            [tabindex="-1"]:focus{
                outline:0!important
            }
            hr{
                box-sizing:content-box;height:0;
                overflow:visible
            }
            h1,h2,h3,h4,h5,h6{
                margin-top:0;
                margin-bottom:.5rem
            }
            p{
                margin-top:0;margin-bottom:1rem
            }
                                            a{
                                                color:#448bff;text-decoration:none;
                                                background-color:transparent}
                                                a:hover{
                                                    color:#005ef7;text-decoration:underline}
                                                a:not([href]):not([tabindex]){
                                                    color:inherit;text-decoration:none}
                                                    a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{
                                                        color:inherit;
                                                        text-decoration:none}
                                                        a:not([href]):not([tabindex]):focus{
                                                            outline:0}

                                                                    img{
                                                                        margin:0 0 1rem
                                                                         }
                                                                        
                                                                         img {
                                                                            vertical-align:middle;
                                                                            border-style:none;
                                                                        }
                                                                       
                                                                        
                                                                        svg{
                                                                            overflow:hidden;
                                                                            vertical-align:middle
                                                                        }

                                                                        label{
                                                                            display:inline-block;
                                                                            margin-bottom:.5rem}
                                                                            button{
                                                                                border-radius:0}
                                                                                button:focus{
                                                                                    outline:1px dotted;
                                                                                    outline:5px auto -webkit-focus-ring-color}

                                                                                    button,input{
                                                                                        margin:0;
                                                                                        font-family:inherit;
                                                                                        font-size:inherit;
                                                                                        line-height:inherit}
                                                                                        button,input{
                                                                                            overflow:visible}
                                                                                            button{
                                                                                                text-transform:none}                                                                  
                                                                    
                                                                                                @media (min-width:576px)
                                                                                                {.container{max-width:540px}}
    
                                                                                                @media (min-width:768px)
                                                                                                {.container{max-width:720px}}
                                                                                                        
                                                                                                @media (min-width:992px)
                                                                                                {.container{max-width:960px}}
    
                                                                                                @media (min-width:1200px)
                                                                                                {.container{max-width:1140px}}  
                                                                        

                                                                           
                                                                                           
                                                                                            
                                                                                            .container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
                                                                                            .row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}
                                                                                            .col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,
                                                                                            .col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto
                                                                                            ,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-6,.col-md-8,.col-md-9,.col-md-auto,
                                                                                            .col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,
                                                                                            .col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,
                                                                                            .col-xl-9,.col-xl-auto{position:relative;width:100%;padding-right:15px;padding-left:15px}
                                                                                            .col{flex-basis:0;flex-grow:1;max-width:100%}
                                                                                            .col-auto{flex:0 0 auto;width:auto;max-width:100%}
                                                                                            .col-1{flex:0 0 8.3%;max-width:8.3%}
                                                                                            .col-2{flex:0 0 16.7%;max-width:16.7%}.col-3{flex:0 0 25%;max-width:25%}.col-4{flex:0 0 33.3%;max-width:33.3%}
                                                                                            .col-5{flex:0 0 41.7%;max-width:41.7%}.col-6{flex:0 0 50%;max-width:50%}.col-7{flex:0 0 58.3%;max-width:58.3%}
                                                                                            .col-8{flex:0 0 66.7%;max-width:66.7%}.col-9{flex:0 0 75%;max-width:75%}.col-10{flex:0 0 83.3%;max-width:83.3%}
                                                                                            .col-11{flex:0 0 91.7%;max-width:91.7%}.col-12{flex:0 0 100%;max-width:100%}
                                                                                             
                                                                                            
                                                                                          

.order-first{order:-1}
 .order-last{order:13}
 .order-0{order:0}
 .order-1{order:1}
 .order-2{order:2}
 .order-3{order:3}
 .order-4{order:4}
 .order-5{order:5}
 .order-6{order:6}
 .order-7{order:7}
 .order-8{order:8}
 .order-9{order:9}
 .order-10{order:10}
 .order-11{order:11}
 .order-12{order:12}

 .offset-1{margin-left:8.3%}
 .offset-2{margin-left:16.7%}
 .offset-3{margin-left:25%}
 .offset-4{margin-left:33.3%}
 .offset-5{margin-left:41.7%}
 .offset-6{margin-left:50%}
 .offset-7{margin-left:58.%}
 .offset-8{margin-left:66.67%}
 .offset-9{margin-left:75%}
 .offset-10{margin-left:83.3%}
 .offset-11{margin-left:91.67%}

@media (min-width:576px)
 {.col-sm{flex-basis:0;
    flex-grow:1;max-width:100%}
.col-sm-auto{
    flex:0 0 auto;width:auto;
    max-width:100%}
.col-sm-1{flex:0 0 8.3333333333%;
    max-width:8.3333333333%}
.col-sm-2{
    flex:0 0 16.6666666667%;
    max-width:16.6666666667%}
.col-sm-3{flex:0 0 25%;
    max-width:25%}
.col-sm-4{flex:0 0 33.3333333333%;
    max-width:33.3333333333%}
.col-sm-5{flex:0 0 41.6666666667%;
    max-width:41.6666666667%}
.col-sm-6{flex:0 0 50%;
    max-width:50%}
.col-sm-7{flex:0 0 58.3333333333%;
    max-width:58.3333333333%}
.col-sm-8{flex:0 0 66.6666666667%;
    max-width:66.6666666667%}
.col-sm-9{flex:0 0 75%;
    max-width:75%}
.col-sm-10{flex:0 0 83.3333333333%;
    max-width:83.3333333333%}
.col-sm-11{flex:0 0 91.6666666667%;
    max-width:91.6666666667%}
.col-sm-12{flex:0 0 100%;
    max-width:100%}
.order-sm-first{order:-1}
.order-sm-last{order:13}
.order-sm-0{order:0}
.order-sm-1{order:1}
.order-sm-2{order:2}.order-sm-3{order:3}
.order-sm-4{order:4}.order-sm-5{order:5}
.order-sm-6{order:6}.order-sm-7{order:7}
.order-sm-8{order:8}.order-sm-9{order:9}
.order-sm-10{order:10}.order-sm-11{order:11}
.order-sm-12{order:12}.offset-sm-0{margin-left:0}
.offset-sm-1{margin-left:8.3333333333%}
.offset-sm-2{margin-left:16.6666666667%}
.offset-sm-3{margin-left:25%}
.offset-sm-4{margin-left:33.3333333333%}
.offset-sm-5{margin-left:41.6666666667%}
.offset-sm-6{margin-left:50%}
.offset-sm-7{margin-left:58.3333333333%}
.offset-sm-8{margin-left:66.6666666667%}
.offset-sm-9{margin-left:75%}
.offset-sm-10{margin-left:83.3333333333%}
.offset-sm-11{margin-left:91.6666666667%}}

@media (min-width:768px){
    .col-md{flex-basis:0;flex-grow:1;
        max-width:100%}
.col-md-auto{flex:0 0 auto;
    width:auto;max-width:100%}
.col-md-1{flex:0 0 8.3333333333%;
    max-width:8.3333333333%}
.col-md-2{flex:0 0 16.6666666667%;
    max-width:16.6666666667%}
.col-md-3{flex:0 0 25%;
    max-width:25%}
.col-md-4{flex:0 0 33.3333333333%;
    max-width:33.3333333333%}
.col-md-6{flex:0 0 50%;
    max-width:50%}
.col-md-8{flex:0 0 66.6666666667%;max-width:66.6666666667%}
.col-md-9{flex:0 0 75%;max-width:75%}
.col-md-10{flex:0 0 83.3333333333%;max-width:83.3333333333%}
.col-md-11{flex:0 0 91.6666666667%;max-width:91.6666666667%}
.col-md-12{flex:0 0 100%;max-width:100%}
.order-md-first{order:-1}
.order-md-last{order:13}
.order-md-0{order:0}.order-md-1{order:1}
.order-md-2{order:2}.order-md-3{order:3}
.order-md-4{order:4}.order-md-5{order:5}
.order-md-6{order:6}.order-md-7{order:7}
.order-md-8{order:8}.order-md-9{order:9}
.order-md-10{order:10}.order-md-11{order:11}
.order-md-12{order:12}.offset-md-0{margin-left:0}
.offset-md-1{margin-left:8.3333333333%}
.offset-md-2{margin-left:16.6666666667%}
.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.3333333333%}
.offset-md-5{margin-left:41.6666666667%}.offset-md-6{margin-left:50%}
.offset-md-7{margin-left:58.3333333333%}.offset-md-8{margin-left:66.6666666667%}
.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.3333333333%}
.offset-md-11{margin-left:91.6666666667%}}
@media (min-width:992px){
    .col-lg{flex-basis:0;flex-grow:1;
        max-width:100%}
    .col-lg-auto{
        flex:0 0 auto;width:auto;
        max-width:100%}
    .col-lg-1{flex:0 0 8.3333333333%;
        max-width:8.3333333333%}
    .col-lg-2{flex:0 0 16.6666666667%;
        max-width:16.6666666667%}
    .col-lg-3{flex:0 0 25%;max-width:25%}
    .col-lg-4{flex:0 0 33.3333333333%;
        max-width:33.3333333333%}
    .col-lg-5{flex:0 0 41.6666666667%;
        max-width:41.6666666667%}
    .col-lg-6{flex:0 0 50%;max-width:50%}
    .col-lg-7{flex:0 0 58.3333333333%;
        max-width:58.3333333333%}
    .col-lg-8{flex:0 0 66.6666666667%;
        max-width:66.6666666667%}
    .col-lg-9{flex:0 0 75%;max-width:75%}
    .col-lg-10{flex:0 0 83.3333333333%;
        max-width:83.3333333333%}
    .col-lg-11{flex:0 0 91.6666666667%;
        max-width:91.6666666667%}
    .col-lg-12{flex:0 0 100%;max-width:100%}
    .order-lg-first{order:-1}.order-lg-last{order:13}
    .order-lg-0{order:0}.order-lg-1{order:1}
    .order-lg-2{order:2}.order-lg-3{order:3}
    .order-lg-4{order:4}.order-lg-5{order:5}
    .order-lg-6{order:6}.order-lg-7{order:7}
    .order-lg-8{order:8}.order-lg-9{order:9}
    .order-lg-10{order:10}.order-lg-11{order:11}
    .order-lg-12{order:12}.offset-lg-0{margin-left:0}
    .offset-lg-1{margin-left:8.3333333333%}
    .offset-lg-2{margin-left:16.6666666667%}
    .offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.3333333333%}
    .offset-lg-5{margin-left:41.6666666667%}.offset-lg-6{margin-left:50%}
    .offset-lg-7{margin-left:58.3333333333%}.offset-lg-8{margin-left:66.6666666667%}
    .offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.3333333333%}
    .offset-lg-11{margin-left:91.6666666667%}}

    @media (min-width:1200px){
        .col-xl{flex-basis:0;flex-grow:1;max-width:100%}
        .col-xl-auto{flex:0 0 auto;width:auto;max-width:100%}
        .col-xl-1{flex:0 0 8.3333333333%;max-width:8.3333333333%}
        .col-xl-2{flex:0 0 16.6666666667%;max-width:16.6666666667%}
        .col-xl-3{flex:0 0 25%;max-width:25%}
        .col-xl-4{flex:0 0 33.3333333333%;max-width:33.3333333333%}
        .col-xl-5{flex:0 0 41.6666666667%;max-width:41.6666666667%}
        .col-xl-6{flex:0 0 50%;max-width:50%}
        .col-xl-7{flex:0 0 58.3333333333%;max-width:58.3333333333%}
        .col-xl-8{flex:0 0 66.6666666667%;max-width:66.6666666667%}
        .col-xl-9{flex:0 0 75%;max-width:75%}
        .col-xl-10{flex:0 0 83.3333333333%;max-width:83.3333333333%}
        .col-xl-11{flex:0 0 91.6666666667%;max-width:91.6666666667%}
        .col-xl-12{flex:0 0 100%;max-width:100%}
        .order-xl-first{order:-1}.order-xl-last{order:13}
        .order-xl-0{order:0}.order-xl-1{order:1}.order-xl-2{order:2}
        .order-xl-3{order:3}.order-xl-4{order:4}.order-xl-5{order:5}
        .order-xl-6{order:6}.order-xl-7{order:7}.order-xl-8{order:8}
        .order-xl-9{order:9}.order-xl-10{order:10}.order-xl-11{order:11}
        .order-xl-12{order:12}.offset-xl-0{margin-left:0}
        .offset-xl-1{margin-left:8.3333333333%}.offset-xl-2{margin-left:16.6666666667%}
        .offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.3333333333%}
        .offset-xl-5{margin-left:41.6666666667%}.offset-xl-6{margin-left:50%}
        .offset-xl-7{margin-left:58.3333333333%}.offset-xl-8{margin-left:66.6666666667%}
        .offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.3333333333%}
        .offset-xl-11{margin-left:91.6666666667%}}

        @media (min-width:1200px)
        {.navbar-expand-xl{flex-flow:row nowrap;
            justify-content:flex-start}.navbar-expand-xl .navbar-nav{flex-direction:row}.navbar-expand-xl .navbar-nav 
            .dropdown-menu{position:absolute}.navbar-expand-xl .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}
            .navbar-expand-xl>.container,.navbar-expand-xl>.container-fluid{flex-wrap:nowrap}
            .navbar-expand-xl .navbar-collapse{display:flex!important;flex-basis:auto}
            .navbar-expand-xl .navbar-toggler{display:none}}
            .navbar-expand{flex-flow:row nowrap;justify-content:flex-start}
   
   .btn-group-toggle {
    display: inline-flex;
    padding: .25rem .125rem;
    border: 1px solid rgba(160,175,185,.15);
    border-radius: .25rem;
    color: #005ef7; }
    
    .btn:hover{color:#5492cf;text-decoration:none}
    .btn-primary{color:#fff;background-color:#448bff;border-color:#448bff}
   .btn-primary:hover{color:#fff;background-color:#1e73ff;border-color:#116bff}
   
.nav{display:flex;flex-wrap:wrap;
    padding-left:0;margin-bottom:0;
    list-style:none}
.nav-link{display:block;padding:.5rem 1rem}
.nav-link:focus,.nav-link:hover{text-decoration:none}
.nav-link.disabled{color:#6c757d;pointer-events:none;cursor:default}

.nav-link:focus,.nav-tabs .nav-link:hover
{border-color:#e9ecef #e9ecef #dee2e6}

.nav-item.show .nav-link, .nav-link.active{color:#495057;
    background-color:#f9f9fa;border-color:#dee2e6 #dee2e6 #f9f9fa}

.navbar{position:relative;display:flex;
    flex-wrap:wrap;align-items:center;
    justify-content:space-between;
    padding:.5rem 1rem}
.navbar>.container,.navbar>.container-fluid{display:flex;
    flex-wrap:wrap;align-items:center;justify-content:space-between}
.navbar-brand{display:inline-block;margin-right:1rem;
    font-size:2.5rem;line-height:inherit;white-space:nowrap}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;
    margin-bottom:0;list-style:none}
.navbar-nav .nav-link{padding-right:0;padding-left:0}
.navbar-nav .dropdown-menu{position:static;float:none}
.navbar-text{display:inline-block;padding-top:.5rem;padding-bottom:.5rem}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center}
.navbar-toggler{padding:.25rem .75rem;font-size:2.5rem;line-height:1;
        background-color:transparent;border:1px solid transparent;border-radius:.25rem}
.navbar-toggler:focus,.navbar-toggler:hover{text-decoration:none}
.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;
    content:"";background:no-repeat center center;background-size:100% 100%}



@media (max-width:575.98px)
{.navbar-expand-sm>.container,
.navbar-expand-sm>.container-fluid
      {padding-right:0;padding-left:0}}

@media (min-width:576px)
{.navbar-expand-sm{flex-flow:row nowrap;
    justify-content:flex-start}
.navbar-expand-sm .navbar-nav{flex-direction:row}
.navbar-expand-sm .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-sm .navbar-nav .nav-link{padding-right:.5rem;
    padding-left:.5rem}
.navbar-expand-sm>.container,.navbar-expand-sm>.container-fluid{flex-wrap:nowrap}
.navbar-expand-sm .navbar-collapse{display:flex!important;flex-basis:auto}
.navbar-expand-sm .navbar-toggler{display:none}}

@media (max-width:767.98px)
{.navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid{padding-right:0;padding-left:0}}
@media (min-width:768px){.navbar-expand-md{flex-flow:row nowrap;justify-content:flex-start}
.navbar-expand-md .navbar-nav{flex-direction:row}
.navbar-expand-md .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-md .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}
.navbar-expand-md>.container,.navbar-expand-md>.container-fluid
{flex-wrap:nowrap}
.navbar-expand-md .navbar-collapse
{display:flex!important;flex-basis:auto}
.navbar-expand-md .navbar-toggler{display:none}}

@media (max-width:991.98px){.navbar-expand-lg>.container,.navbar-expand-lg>
    .container-fluid{padding-right:0;padding-left:0}}
@media (min-width:992px){.navbar-expand-lg{flex-flow:row nowrap;justify-content:flex-start}
.navbar-expand-lg .navbar-nav{flex-direction:row}
.navbar-expand-lg .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}.navbar-expand-lg>.container,.navbar-expand-lg>
.container-fluid{flex-wrap:nowrap}.navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto}
.navbar-expand-lg .navbar-toggler{display:none}}

@media (max-width:1199.98px)
{.navbar-expand-xl>.container,.navbar-expand-xl>
    .container-fluid{padding-right:0;padding-left:0}}  
     
.card {font-size: inherit;}

 .card{position:relative;
    display:flex;
    flex-direction:column;min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(19,24,44,.125);
    border-radius:.25rem}
    
@media (prefers-reduced-motion:reduce)
{.progress-bar{transition:none}}
.progress-bar-striped{background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,
    transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size:1rem 1rem}
.progress-bar-animated{animation:progress-bar-stripes 1s linear infinite}

 
    @media (min-width:768px)
    {.d-md-none{display:none!important}
    .d-md-inline{display:inline!important}
    .d-md-inline-block{display:inline-block!important}
    .d-md-block{display:block!important}
    .d-md-table{display:table!important}
    .d-md-table-row{display:table-row!important}
    .d-md-table-cell{display:table-cell!important}
    .d-md-flex{display:flex!important}
    .d-md-inline-flex{display:inline-flex!important}}

    @media (min-width:992px)
    {.d-lg-none{display:none!important}
    .d-lg-inline{display:inline!important}
    .d-lg-inline-block{display:inline-block!important}
    .d-lg-block{display:block!important}
    .d-lg-table{display:table!important}
    .d-lg-table-row{display:table-row!important}
    .d-lg-table-cell{display:table-cell!important}
    .d-lg-flex{display:flex!important}
    .d-lg-inline-flex{display:inline-flex!important}}

    @media (min-width:1200px)
    {.d-xl-none{display:none!important}
    .d-xl-inline{display:inline!important}
    .d-xl-inline-block{display:inline-block!important}
    .d-xl-block{display:block!important}
    .d-xl-table{display:table!important}
    .d-xl-table-row{display:table-row!important}
    .d-xl-table-cell{display:table-cell!important}
    .d-xl-flex{display:flex!important}
    .d-xl-inline-flex{display:inline-flex!important}}

        .flex-row{flex-direction:row!important}
        .flex-column{flex-direction:column!important}
        .flex-row-reverse{flex-direction:row-reverse!important}
        .flex-column-reverse{flex-direction:column-reverse!important}
        .flex-wrap{flex-wrap:wrap!important}.flex-nowrap{flex-wrap:nowrap!important}
        .flex-wrap-reverse{flex-wrap:wrap-reverse!important}
        .flex-fill{flex:1 1 auto!important}
        .flex-grow-0{flex-grow:0!important}
        .flex-grow-1{flex-grow:1!important}
        .flex-shrink-0{flex-shrink:0!important}
        .flex-shrink-1{flex-shrink:1!important}

        .text-muted{color:#99a0ac!important;
                   font-size: inherit;}

        
    .form-control{border-color:rgba(135,150,165,.15);border-width:1px;border-radius:.25rem;color:inherit}
    .form-control:focus{color:inherit;box-shadow:0 0 0 .2rem rgba(68,139,255,.25)}

    .nav-active-border .nav-link:before,.nav-active-border li>a:before
    {content:'';position:absolute;
        left:50%;right:50%;bottom:0;
        border-bottom-width:2px;
        border-bottom-style:solid;
        border-bottom-color:transparent;
        transition:all .2s ease-in-out}

     @media (prefers-reduced-motion:reduce)
        {.nav-active-border .nav-link:before,.nav-active-border li>a:before{transition:none}}
    .nav-active-border .nav-link.active:before,.nav-active-border li>a.active:before{left:0;right:0;border-bottom-color:#448bff}
    .nav-active-border li.active>a:before{left:1rem;right:1rem;border-bottom-color:#448bff}
    .nav-active-border.top .nav-link:before,.nav-active-border.top li.active>a:before{bottom:auto;top:0}
    .navbar{min-height:3.75rem;padding:.75rem 1rem;display:-ms-flexbox;display:flex}
    .navbar .dropdown-menu-right{left:auto;right:0} 
    .navbar svg{vertical-align:middle}
    .navbar .nav-link{color:inherit;white-space:nowrap}
    .navbar .nav-active-border .nav-link{margin:-.75rem 0;line-height:2.75rem}
   
    .nav-title{font-size:1.125rem;line-height:1.2}
    .navbar-brand{font-size:1.125rem;line-height:1;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}
    .navbar-brand>span{margin:0 .5rem;font-weight:600}
    .navbar-brand img,.navbar-brand svg{max-height:2.5rem;vertical-align:middle;font-weight:600}
    .navbar-menu{-ms-flex-direction:row;flex-direction:row;margin-left:auto;-ms-align-items:center;align-items:center}
    
     .progress{border-radius:.25rem;overflow:visible;background-color:rgba(135,150,165,.1)}
     .progress-bar{height:100%;text-align:center;font-size:.8em;border-radius:.25rem;-webkit-transition:width .6s ease;transition:width .6s ease}
     .nav-active-text-info .nav-item.active>a,.nav-active-text-info .nav-link.active,.nav-active-text-info .nav-sub>li.active>a,

     .padding{padding:2rem}
      .row-md{margin-left:-.75rem;margin-right:-.75rem}
     .row-md .col,.row-md [class*=col-]{padding-left:.75rem;
                                         padding-right:.75rem}
     .row-md .block,.row-md .card{margin-bottom:1.5rem}
     .row-sm{margin-left:-.5rem;margin-right:-.5rem}
     .row-sm .col,.row-sm [class*=col-]{padding-left:.5rem;
                                       padding-right:.5rem}
     .row-sm .block,.row-sm .card{margin-bottom:1rem}
     .row-xs{margin-left:-.25rem;margin-right:-.25rem}
     .row-xs .col,.row-xs [class*=col-]{padding-left:.25rem;
                                       padding-right:.25rem}
     .row-xs .block,.row-xs .card{margin-bottom:.5rem}
     
     @media (min-width:992px)
     {.col-lg-2-4{flex:0 0 20%;max-width:20%}}
     @media (min-width:1200px)
     {.col-xl-1-8{flex:0 0 12.5%;max-width:12.5%}}
     @media (max-width:991.98px)
     {.padding{padding:1.5rem}}
     @media (max-width:767.9px)
     {.padding{padding:1rem}} 

     .nav-active-text-primary .nav-item.active>a,
     .nav-active-text-primary .nav-link.active,
     .nav-active-text-primary .nav-sub>li.active>a,
     .nav-active-text-primary .nav>li.active>a{color:#448bff!important}
     
     .layout-row{display:-ms-flexbox;display:flex}
     .layout-row{-ms-flex-direction:row;flex-direction:row}
     .layout-row>.flex{min-width:0}
     
     .flex{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto}
     .no-shrink{-ms-flex-negative:0;flex-shrink:0}
     
      .fixed-content{top:3.75rem;height:calc(100vh - 3.75rem)}
     .page-sidenav{position:relative;z-index:1030!important;min-width:13.5rem;opacity:1!important}

    @media (min-width:992px){.page-container{max-width:1140px;margin:0 auto}.page-sidenav{display:block!important}}
    @media (max-width:991.98px){body.layout-row{-ms-flex-direction:column;flex-direction:column}

    .page-sidenav.show>div{transform:translate3d(0,0,0)}}
    
    .sidenav{margin:0;pointer-events:inherit;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column}
    .sidenav ul{padding-left:0;padding-right:0;list-style:none}.sidenav ul a{color:inherit}.sidenav .nav{border:inherit;display:block}

    .sidenav .nav li>a{display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;padding:0 .5rem;line-height:2.5rem;position:relative}
    
    .sidenav .nav-header{padding:1rem 1rem .5rem 1rem;font-size:85%}.sidenav .nav-header:after{display:none}

    .nav-icon{font-size:1rem;width:2.5rem;height:2.5rem;border-radius:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;
    -ms-flex-align:center;align-items:center;-ms-flex-negative:0;flex-shrink:0;opacity:.65}.active>a>.nav-icon,a:active>.nav-icon,a:hover>.nav-icon{opacity:1}.nav-icon.no-fade{opacity:1}.nav-icon i{line-height:1;max-width:20px;max-height:20px}
    
 .pos-rlt{position:relative} 
 .pos-abt{position:absolute}
 
 .hide{display:none!important}.hidden{visibility:hidden}
 
 .circle{border-radius:500px}.clear{display:block;overflow:hidden}
 
 