#sidebar{
  background-color: rgba(31, 48, 56, 0.883);
  position: relative;
  height: 800px;
  width: 300px;
  margin: 0%;
  left: 0%;
}

#panel{
  background-color: #3868b0;
}

#td1{
  padding: 30px;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#tog{
  width: 800px;
}
#im{
  width: 40px;
  height: 60px;
}
#im1 {
  width: 95px;
  height: 120px;
 border-radius:2px;
}

.ele{
  padding: 13px;
  color:white;
  font-weight: bolder;

}
.side{
  position: relative;
  bottom: 15px;
  margin: 12px;
}
.border{
  border-style:inherit;
  border-width: 2px;
  
}
